<div class="d-flex justify-content-between">
  <button routerLink="/register" mat-raised-button color="accent">
    <i class="fa fa-arrow-left" aria-hidden="true">
      Back to form registration
    </i>
  </button>
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <!-- mobile Column -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let row">{{ row.mobile }}</td>
    </ng-container>
    <!-- weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
    </ng-container> -->
    <!-- Height Column -->
    <!-- <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Height</th>
      <td mat-cell *matCellDef="let row"> {{row.height}} </td>
    </ng-container> -->
    <!-- bmi Column -->
    <!-- <ng-container matColumnDef="bmi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bmi </th>
      <td mat-cell *matCellDef="let row"> {{row.bmi}} </td>
    </ng-container> -->
    <!-- bmiResult Column -->
    <ng-container matColumnDef="bmiResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>bmiResult</th>
      <td mat-cell *matCellDef="let row">{{ row.bmiResult }}</td>
    </ng-container>
    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>gender</th>
      <td mat-cell *matCellDef="let row">{{ row.gender }}</td>
    </ng-container>
    <!-- requireTrainer Column -->
    <!-- <ng-container matColumnDef="requireTrainer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> requireTrainer </th>
      <td mat-cell *matCellDef="let row"> {{row.requireTrainer}} </td>
    </ng-container> -->
    <!-- package Column -->
    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>package</th>
      <td mat-cell *matCellDef="let row">{{ row.package }}</td>
    </ng-container>
    <!-- important Column -->
    <!-- <ng-container matColumnDef="important">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> important </th>
      <td mat-cell *matCellDef="let row"> {{row.important}} </td>
    </ng-container> -->
    <!-- haveGymBefore Column -->
    <!-- <ng-container matColumnDef="haveGymBefore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> haveGymBefore </th>
      <td mat-cell *matCellDef="let row"> {{row.haveGymBefore}} </td>
    </ng-container> -->
    <!-- chooseDate Column -->
    <ng-container matColumnDef="chooseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>chooseDate</th>
      <td mat-cell *matCellDef="let row">{{ row.chooseDate | date }}</td>
    </ng-container>
    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
      <td mat-cell *matCellDef="let row">
        <button
          [routerLink]="['/details', row.id]"
          mat-icon-button
          color="warn"
        >
          <i class="fa fa-eye"></i>
        </button>
        <button (click)="edit(row.id)" mat-icon-button color="accent">
          <i class="fa fa-pencil"></i>
        </button>
        <button (click)="delete(row.id)" mat-icon-button color="primary">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
